<!DOCTYPE html>
<html>
<head>
    <title>Circle Cirque</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    
    <h1>Welcome to Circle Cirque!</h1>
    
    <p>Use the alphabet keys to experience a truly circular awesomeness!</p>
    
    <p>Headphones recommended</p>
    
    <p>Only for desktops</p>
    
    <a href="/main" class="ui inverted button">Let's begin! <i class="angle right icon"></i></a>
    
</body>
</html>