<!DOCTYPE html>
<html>
<head>
	<title>Circle Cirque</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.5/paper-full.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.12/howler.js"></script>
	<script type="text/paperscript" canvas="myCanvas">
		var keyData = {
			q: {
				sound: new Howl({
		  			src: ['/sounds/sounds/bubbles.mp3']
				}),
				color: '#bc1a1a'
			},
			w: {
				sound: new Howl({
		  			src: ['/sounds/sounds/clay.mp3']
				}),
				color: '#bc421a'
			},
			e: {
				sound: new Howl({
		  			src: ['/sounds/sounds/confetti.mp3']
				}),
				color: '#bc6b1a'
			},
			r: {
				sound: new Howl({
		  			src: ['/sounds/sounds/corona.mp3']
				}),
				color: '#bc941a'
			},
				t: {
				sound: new Howl({
		  			src: ['/sounds/sounds/dotted-spiral.mp3']
				}),
				color: '#bcbc1a'
			},
			y: {
				sound: new Howl({
		  			src: ['/sounds/sounds/flash-1.mp3']
				}),
				color: '#94bc1a'
			},
			u: {
				sound: new Howl({
		  			src: ['/sounds/sounds/flash-2.mp3']
				}),
				color: '#6bbc1a'
			},
			i: {
				sound: new Howl({
		  			src: ['/sounds/sounds/flash-3.mp3']
				}),
				color: '#42bc1a'
			},
			o: {
				sound: new Howl({
					src: ['/sounds/sounds/glimmer.mp3']
				}),
				color: '#1abc1a'
			},
			p: {
				sound: new Howl({
		  			src: ['/sounds/sounds/moon.mp3']
				}),
				color: '#1abc42'
			},
			a: {
				sound: new Howl({
		  			src: ['/sounds/sounds/pinwheel.mp3']
				}),
				color: '#1abc6b'
			},
			s: {
				sound: new Howl({
		  			src: ['/sounds/sounds/piston-1.mp3']
				}),
				color: '#1abc94'
			},
				d: {
				sound: new Howl({
		  			src: ['/sounds/sounds/piston-2.mp3']
				}),
				color: '#1abcbc'
			},
			f: {
				sound: new Howl({
		  			src: ['/sounds/sounds/prism-1.mp3']
				}),
				color: '#1a94bc'
			},
			g: {
				sound: new Howl({
		  			src: ['/sounds/sounds/prism-2.mp3']
				}),
				color: '#1a6bbc'
			},
			h: {
				sound: new Howl({
		  			src: ['/sounds/sounds/prism-3.mp3']
				}),
				color: '#1a42bc'
			},
			j: {
				sound: new Howl({
		  			src: ['/sounds/sounds/splits.mp3']
				}),
				color: '#1a1abc'
			},
			k: {
				sound: new Howl({
		  			src: ['/sounds/sounds/squiggle.mp3']
				}),
				color: '#421abc'
			},
			l: {
				sound: new Howl({
		  			src: ['/sounds/sounds/strike.mp3']
				}),
				color: '#6b1abc'
			},
			z: {
				sound: new Howl({
		  			src: ['/sounds/sounds/suspension.mp3']
				}),
				color: '#941abc'
			},
			x: {
				sound: new Howl({
		  			src: ['/sounds/sounds/timer.mp3']
				}),
				color: '#bc1abc'
			},
			c: {
				sound: new Howl({
		  			src: ['/sounds/sounds/ufo.mp3']
				}),
				color: '#bc1a94'
			},
			v: {
				sound: new Howl({
		  			src: ['/sounds/sounds/veil.mp3']
				}),
				color: '#bc1a6b'
			},
			b: {
				sound: new Howl({
		  			src: ['/sounds/sounds/wipe.mp3']
				}),
				color: '#bc1a42'
			},
			n: {
				sound: new Howl({
					src: ['/sounds/sounds/zig-zag.mp3']
				}),
				color: '#bc1a1a'
			},
			m: {
				sound: new Howl({
		  			src: ['/sounds/sounds/moon.mp3']
				}),
				color: '#bc421a'
			}
		}

		var circles = [];

		function onKeyDown(event){
			if(keyData[event.key]){
				var maxPoint = new Point(view.size.width, view.size.height);
				var randomPoint = Point.random();
				var point = maxPoint * randomPoint;
				var newCircle = new Path.Circle(point, 500);
				newCircle.fillColor = keyData[event.key].color;
				keyData[event.key].sound.play();
				circles.push(newCircle);
			}

		}

		function onFrame(event){
			for(var i = 0; i < circles.length; i++){
				circles[i].fillColor.hue += 1;
				circles[i].scale(0.9);
				if(circles[i].area < 1){
					circles[i].remove();
					circles.splice(i, 1);
					i--;
				}
			}
		}
</script>
</head>
<body>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>